* {
    margin: 0;
    padding: 0;
}

.cards {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
}

.card:nth-child(1n+1) {
    background: linear-gradient( 68deg, rgba(255, 190, 152, 1) 1%, rgba(252, 144, 170, 1) 98%);
}

.card:nth-child(2n+1) {
    background: linear-gradient( 78deg, rgba(139, 200, 245, 1) 1%, rgba(52, 150, 227, 1) 98%);
}

.card:nth-child(3n+1) {
    background: linear-gradient( 140deg, rgba(90, 216, 201, 1) 0%, rgba(125, 218, 210, 1) 1%, rgba(51, 214, 190, 1) 98%);
}

.card {
    position: relative;
    display: inline-block;
    padding: 45px 40px;
    width: 25%;
    vertical-align: sub;
    border-radius: 5px;
    margin-left: 25px;
    overflow: hidden;
}

.card_article {
    padding: 0px 0px 10px 0;
    color: honeydew;
    font-size: 28px;
}

.total_index {
    padding: 10px 0;
    color: honeydew;
    font-size: 33px;
    font-weight: bold;
}

.result {
    padding: 70px 0 10px 0px;
    color: honeydew;
    font-size: 20px;
}

.card::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: -80px;
    right: -125px;
    background-color: lavender;
    border: 1px solid white;
    opacity: 50%;
}

.card::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    bottom: -85px;
    right: -55px;
    background-color: lavender;
    border: 1px solid white;
    opacity: 50%;
}

.img {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    right: 40px;
    color: lavender;
}